body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0E678;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #000000;
  }

  .buttonBox {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 30vw;
    border: 2px solid white;
    border-radius: 10px;
    margin: auto;
    margin-top: 25vh; 
    justify-content: center;
  }
  
  button {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F0C978;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #DEF078;
  }
  
  button:hover {
    background-color: #DF912A;
    border: none;
  }
  

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 24px;
    }
  
    button {
      font-size: 14px;
    }
  }